
<section
  class="w-full max-w-[1000px] mx-auto flex flex-col justify-center items-center mt-52 animate-blink [animation-range:0px_600px] [animation-timeline:view()] "
  id="about "
>
  <h1 class="text-5xl font-bold">Sobre Mi</h1>
  <div class="mt-10">
    <p class="text-xl text-pretty leading-8 mt-3">Mi nombre es Saul Orellana. Inicié mi travesía en el mundo de la <strong>programación en 2021 </strong> y desde entonces, mi pasión por aprender no ha conocido límites.</p>
    <p class="text-xl text-pretty leading-8 mt-3">Obtuve mi título en Computación e Informática en 2023, graduándome con éxito de un instituto local. Sin embargo, <strong> no me conformé con lo aprendido allí</strong> y decidí continuar mi viaje de aprendizaje de manera autodidacta.</p>
    <p class="text-xl text-pretty leading-8 mt-3">Hoy en día, me sumerjo en el vasto océano de la tecnología, explorando <strong> nuevas herramientas y técnicas constantemente </strong>  para perfeccionar mis habilidades como programador.</p>
  </div>
</section>


<style>
    strong{
        color: #06fdff;
    }
</style>