---
import Link from "../components/Icons/Link.astro";
interface Props {
  class?: string;
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props;

---


    <article
      class={`
        ${Astro.props.class}
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-cyan/10
        overflow-hidden
        group
    `}
    >
      <div class="absolute z-10 h-full w-full"/>
      <slot name="image"/>
      <div class="relative z-20 flex h-full select-none flex-col justify-start gap-1 p-4 text-lg md:p-6">
        <h1 class="mb-4 text-balance text-3xl font-semibold uppercase text-white">{title}</h1>
        <p class="max-w-xl text-base md:text-lg">{description}</p>
        <div>
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            role="link"
          >
            <Link />
          </a>
        </div>
      </div>
    </article>

