---
import Link from "../components/Icons/Link.astro";
interface Props {
  class?: string;
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props;
---

<article
  class={`
        ${Astro.props.class}
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-cyan/10
        overflow-hidden
        group
    `}
>
  <div class="absolute z-10 h-full w-full"></div>
  <slot name="image" />
  <div
    class="relative z-20 flex h-full select-none flex-col justify-between gap-1 p-4 text-lg md:p-6"
  >
    <div>
      <h1
        class=`
      mb-4 text-balance lg:text-3xl text-xl font-semibold uppercase text-white`
      >
        {title}
      </h1>

      <p class="max-w-xl text-base md:text-lg font-semibold text-pretty">
        {description}
      </p>
      <slot name="footer" class="flex flex-row" />
    </div>

    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      aria-label="Link to the project"
      class="flex items-center gap-2 text-white hover:text-cyan-500 transition-colors duration-200 ease-in-out w-6 h-6 md:w-8 md:h-8"
    >
      <Link />
    </a>
  </div>
</article>
