---
import BentoItem from "./BentoItem.astro";




---

<div class="grid max-w-[1000px] grid-cols-4 grid-rows-3">
    <BentoItem 
    title="Conmebol Eliminatorias 2026"
    description="La Conmebol Eliminatorias 2026 es el torneo que define los equipos que clasificarán al Mundial de Fútbol 2026. Se juega en Sudamérica y participan las selecciones de Argentina, Bolivia, Brasil, Chile, Colombia, Ecuador, Paraguay, Perú, Uruguay y Venezuela."
    link="https://eliminatorias-mundial-2026.vercel.app/"
    />
</div>