---
import Download from "./Icons/Download.astro";
import Mail from "./Icons/Mail.astro";
---

<div class="flex sm:flex-row items-center justify-center gap-10 flex-col">
  <a
  class="flex flex-row gap-3  bg-[#197971] py-5 px-12 rounded-xl hover:scale-110 transition ease-in-out duration-300"
 href="https://drive.google.com/file/d/1KVGiL4sSHSEZeyR-yiLvtDL7VbG80vHy/view?usp=drive_link"
 target="_blank"
 rel="noopener noreferrer"
    >Download CV
    <Download />
  </>
  <a
  class="flex flex-row gap-3 bg-gray-800 py-5 px-12 rounded-xl hover:scale-110 transition ease-in-out duration-300"
  href="mailto:felix21soc@gmail.com"
  >
    Contactame
    <Mail />
  </a>
</div>
