---
interface Props {
  class?: string;
  name: string;
}

const { name } = Astro.props;
---

<div
  class=` 
    ${Astro.props.class}
    bg-gradient-to-b from-bg-300 to-bg-100 
    rounded-lg p-5 flex flex-col justify-start items-center gap-4 w-auto h-auto sm:max-w-[300px] sm:h-[300px]
    hover:scale-105 transition-transform opacity-70 duration-200 ease-in-out hover:text-[#ffffff] hover:opacity-100
    `
>
  <h3 class="text-4xl font-semibold text-text-100">{name}</h3>
  <div
    class="sm:flex sm:flex-row sm:flex-wrap justify-center items-center text-text-200 gap-2 grid grid-cols-3 grid-special"
  >
    <slot />
  </div>
</div>

<style>
  @media screen and (max-width: 280px) {
    .grid-special {
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }
  }
</style>
