<footer class="flex flex-row justify-center p-4 items-center">
    <p>&copy CopyRight 2024. Derechos Reservados. Desarrollador por <a 
        href="https://github.com/VikusS3"
        class="hover:underline hover:text-yellow-500"
        >SaulDev</a></p>
</footer>