---
const ItemsNav = [
  {
    name: "Projectos",
    ariaLabel: "Projectos",
    url: "/index.html#projects",
  },
  {
    name: "Skills",
    ariaLabel: "Skills",
    url: "/index.html#skills",
  },
  {
    name: "Sobre Mi",
    ariaLabel: "Sobre Mi",
    url: "/index.html#about",
  },
];
---

<header
  class="header-animate flex justify-center items-center w-full mx-auto border-b-2 z-10"
>
  <nav
    class="flex flex-row items-center justify-center gap-12 sm:gap-20 text-xl"
  >
    {
      ItemsNav.map((link) => (
        <a
          class="transition hover:text-cyan-400/100 duration-200 ease-in-out text-sm sm:text-xl my-text"
          aria-label={link.ariaLabel}
          href={link.url}
        >
          {link.name}
        </a>
      ))
    }
  </nav>
</header>

<style>
  .my-text {
    text-shadow: 1px 0px 30px rgba(252, 252, 252, 0.877);
  }

  .header-animate {
    animation: adapt-nav both;
    animation-timeline: scroll();
    position: sticky;
    backdrop-filter: blur(10px);
    top: 0;
  }

  @keyframes adapt-nav {
    0% {
      padding: 1rem;
    }
    100% {
      padding: 1rem;
    }
  }
</style>
