---
const ItemsNav = [
  {
    name: "Skills",
    ariaLabel: "Skills",
    url: "#skills",
  },
  {
    name: "Projectos",
    ariaLabel: "Projectos",
    url: "#projects",
  },
  {
    name: "Sobre Mi",
    ariaLabel: "Sobre Mi",
    url: "#about",
  },
];
---

<header
  class="header-animate flex justify-center items-center w-full mx-auto border-b-2 z-10"
>
  <nav class="flex flex-row items-center justify-center gap-20 text-xl">
    {
      ItemsNav.map((link) => (
        <a
          class="transition hover:text-cyan-400/100 duration-300 ease-in-out"
          aria-label={link.ariaLabel}
          href={link.url}
        >
          {link.name}
        </a>
      ))
    }
  </nav>
</header>

<style>
  .header-animate {
    animation: adapt-nav both;
    animation-timeline: scroll();
    position: sticky;
    backdrop-filter: blur(10px);
    top: 0;
  }

  @keyframes adapt-nav {
    0% {
      padding: 1.2rem;
    }
    100% {
      padding: 0.8rem;
    }
  }
</style>
