---
import Github from "./Icons/Github.astro";
import X from "./Icons/X.astro";
import Linkedin from "./Icons/Linkedin.astro";
import InfoBadgets from "./InfoBadgets.astro";
import Badge from "./Badge.astro";
import ButtonsHero from "./ButtonsHero.astro";
import {socials} from '@data'

const {github, linkedin, twitter} = socials

---

<section class="w-full flex flex-col items-center justify-center py-10 mt-20 animate-fade-in">
  <div class="flex flex-col sm:flex-row justify-center items-center gap-10">
    <div class="border-4 rounded-3xl p-1 sm:mb-32 mb-0">
      <img
        src="/SAUL.webp"
        alt="Imagen de Saul Orellana"
        class="w-20 rounded-3xl shadow-lg grayscale hover:grayscale-0 transition duration-500 ease-in-out"
      />
    </div>
    <div class="flex gap-5 flex-col w-full sm:w-1/2 text-center sm:text-left">
      <div class="flex gap-8 md:items-center sm:flex-row flex-col">
        <h1 class="sm:text-6xl text-3xl text-text-100">Saul Orellana</h1>
        <Badge>Disponible para Trabajar</Badge>
      </div>

      <p class="sm:text-xl text-wrap text-text-200">
        Desarrollador frontend de <span class=" text-[#f5cdcd]">Perú</span>.
        Especializado en el desarrollo de paginas web estáticas y dinámicas
      </p>
      <div class="flex flex-row items-center justify-center sm:justify-start gap-5">
        <a href={github} target="_blank" aria-label="Github" rel="noopener noreferrer" role="link">
          <Github
            class="w-10 h-10 text-gray-300 hover:scale-110 hover:text-white transition"
         </a> /></a
        >
        <a href={linkedin} aria-label="Linkedin" target="_blank" rel="noopener noreferrer" role="link">
          <Linkedin
            class="w-10 h-10 text-gray-300 hover:scale-110 hover:text-white transition"
          /></a
        >
        <a href={twitter} aria-label="Twitter" target="_blank" rel="noopener noreferrer" role="link">
          <X
            class="w-10 h-10 text-gray-300 hover:scale-110 hover:text-white transition"
          /></a
        >
        <span class="font-semibold">
          ✉ felix21soc@gmail.com
        </span>
      </div>
    </div>
  </div>
  <div class="mt-16">
    <InfoBadgets />
  </div>
  <div class="mt-10">
    <ButtonsHero />
  </div>
</section>
