---
const info = [
  {
    number: "1",
    title: "Año de experiencia",
  },
  {
    number: "+8",
    title: "Proyectos completados",
  },
  {
    number: "+6",
    title: "Tecnologias aprendidas",
  },
];
---

<div class="flex flex-col sm:flex-row items-center justify-center gap-14">
  {
    info.map((item) => (
      <div class="flex flex-col items-center justify-center">
        <h2 class="text-xl font-bold text-cyan-300/100">{item.number}</h2>
        <span class="opacity-70 text-center">{item.title}</span>
      </div>
    ))
  }
</div>
