---
import AstroPill from "./Icons/Pills/AstroPill.astro";
import ContenedorSkill from "@/components/ContenedorSkill.astro";
import CssPill from "./Icons/Pills/CssPill.astro";
import HtmlPill from "./Icons/Pills/HtmlPill.astro";
import JavaScriptPill from "./Icons/Pills/JavaScriptPill.astro";
import Mysql from "./Icons/Pills/Mysql.astro";
import MongoDb from "./Icons/Pills/MongoDb.astro";
import NodeJs from "./Icons/Pills/NodeJs.astro";
import Php from "./Icons/Pills/Php.astro";
import Python from "./Icons/Python.astro";
import ReactJs from "./Icons/Pills/ReactJs.astro";
import Sql from "./Icons/Pills/Sql.astro";
import Tailwind from "./Icons/Tailwind.astro";
import NpmPill from "./Icons/Pills/NpmPill.astro";
import PnpmPill from "./Icons/Pills/PnpmPill.astro";
import GitPill from "./Icons/Pills/GitPill.astro";
---

<section
  class="w-full flex flex-col items-center justify-center mt-60"
  id="skills"
>
  <h2 class="text-5xl font-bold">Mis Skills</h2>
  <p class="mt-5 text-xl text-center md:text-pretty">
    Estas son las tecnologías que he aprendido de <span
      class="font-bold text-[#06fdff]"
      >forma autodidacta
    </span>a lo largo del tiempo.
  </p>

  <div
    class="w-full flex flex-row flex-wrap justify-center items-center mt-8 gap-10 animate-blink [animation-range:0px_400px] [animation-timeline:view()]"
  >
    <ContenedorSkill name="Frontend">
      <Tailwind class="w-20 h-20" />
      <CssPill class="w-20 h-20" />
      <HtmlPill class="w-20 h-20" />
      <JavaScriptPill class="w-20 h-20" />
      <AstroPill class="w-20 h-20" />
      <ReactJs class="w-20 h-20" />
    </ContenedorSkill>
    <ContenedorSkill name="Backend">
      <Python class="w-20 h-20" />
      <Php class="w-20 h-20" />
      <NodeJs class="w-20 h-20" />
    </ContenedorSkill>
    <ContenedorSkill name="Database">
      <Mysql class="w-20 h-20" />
      <Sql class="w-20 h-20" />
      <MongoDb class="w-20 h-20" />
    </ContenedorSkill>
    <ContenedorSkill name="Otros">
      <NpmPill class="w-16 h-16" />
      <PnpmPill class="w-20 h-20" />
      <GitPill class="w-20 h-20" />
    </ContenedorSkill>
  </div>
</section>

<style>
  @media screen and (max-width: 640px) {
    .mobile {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      place-items: center;
      align-items: center;
      grid-row-gap: 0px;
    }
  }
</style>
