<footer class="flex flex-row justify-center p-4 items-center mt-24 text-center">
  <p>
    &copy CopyRight 2024. Derechos Reservados. Desarrollador por <a
      href="https://github.com/VikusS3"
      role="link"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="SaulDev"
      class="hover:underline hover:text-yellow-500">SaulDev</a>
  </p>
</footer>
