---
import AstroPill from "../Icons/Pills/AstroPill.astro";
import ContenedorSkill from "@/components/ContenedorSkill.astro";
import CssPill from "../Icons/Pills/CssPill.astro";
import HtmlPill from "../Icons/Pills/HtmlPill.astro";
import JavaScriptPill from "../Icons/Pills/JavaScriptPill.astro";
import Mysql from "../Icons/Pills/Mysql.astro";
import MongoDb from "../Icons/Pills/MongoDb.astro";
import NodeJs from "../Icons/Pills/NodeJs.astro";
import Php from "../Icons/Pills/Php.astro";

import ReactJs from "../Icons/Pills/ReactJs.astro";
import Sql from "../Icons/Pills/Sql.astro";
import NpmPill from "../Icons/Pills/NpmPill.astro";
import PnpmPill from "../Icons/Pills/PnpmPill.astro";
import GitPill from "../Icons/Pills/GitPill.astro";
import TailwindPill from "../Icons/Pills/TailwindPill.astro";
import PythonPill from "../Icons/Pills/PythonPill.astro";
import VercelPill from "../Icons/Pills/VercelPill.astro";
import ItemSkill from "../items/ItemSkill.astro";
import VitePill from "../Icons/Pills/VitePill.astro";

import TypeScriptPill from "../Icons/Pills/TypeScriptPill.astro";
import DjangoPill from "../Icons/Pills/DjangoPill.astro";
import NetlifyPill from "../Icons/Pills/NetlifyPill.astro";
import AmazonPill from "../Icons/Pills/AmazonPill.astro";
---

<section
  class="w-full flex flex-col items-center justify-center mt-60"
  id="skills"
>
  <h2 class="text-5xl font-bold">Mis Skills</h2>
  <p class="mt-5 text-xl text-center md:text-pretty">
    Estas son las tecnologías que he aprendido de <span
      class="font-bold text-[#06fdff]"
      >forma autodidacta
    </span>a lo largo del tiempo.
  </p>

  <div
    class="flex flex-row flex-wrap justify-center items-start mt-8 gap-10 animate-blink [animation-range:0px_400px] [animation-timeline:view()]"
  >
    <ContenedorSkill name="Frontend">
      <ItemSkill title="Html">
        <HtmlPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Css">
        <CssPill slot="icon" class="w-8 h-8" />
      </ItemSkill>

      <ItemSkill title="Astro">
        <AstroPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="React.js">
        <ReactJs slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Tailwind">
        <TailwindPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Vite">
        <VitePill slot="icon" class="w-8 h-8" />
      </ItemSkill>
    </ContenedorSkill>
    <ContenedorSkill name="Backend">
      <ItemSkill title="Php">
        <Php slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Node.js">
        <NodeJs slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Django">
        <DjangoPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
    </ContenedorSkill>
    <ContenedorSkill name="Database">
      <ItemSkill title="Mysql">
        <Mysql slot="icon" class="w-8 h-8" />
      </ItemSkill>

      <ItemSkill title="Sql">
        <Sql slot="icon" class="w-8 h-8" />
      </ItemSkill>
    </ContenedorSkill>
    <ContenedorSkill name="Lenguajes">
      <ItemSkill title="Python">
        <PythonPill slot="icon" class="w-10 h-10" />
      </ItemSkill>
      <ItemSkill title="JavaScript">
        <JavaScriptPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Php">
        <Php slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="TypeScript">
        <TypeScriptPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
    </ContenedorSkill>
    <ContenedorSkill name="Otros">
      <ItemSkill title="Npm">
        <NpmPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Pnpm">
        <PnpmPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Git">
        <GitPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
    </ContenedorSkill>
    <ContenedorSkill name="Hosting">
      <ItemSkill title="Vercel">
        <VercelPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="Netlify">
        <NetlifyPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
      <ItemSkill title="AWS">
        <AmazonPill slot="icon" class="w-8 h-8" />
      </ItemSkill>
    </ContenedorSkill>
  </div>
</section>

<style>
  @media screen and (max-width: 640px) {
    .mobile {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      place-items: center;
      align-items: center;
      grid-row-gap: 0px;
    }
  }
</style>
