---
import About from "@/components/About.astro";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="SaulDev - FrontEnd Developer">
  <main class="px-4">
	<Hero />
	<Skills />
  <Projects />
  <About />
  </main>
</Layout>

<style>
  main {
  }
</style>
