---
import About from "@/components/sections/About.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";

import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="SaulDev - FrontEnd Developer"
  description="Hola soy Saul, un desarrollador FrontEnd, me encanta crear aplicaciones web y aprender nuevas tecnologías."
>
  <main class="px-4">
    <Hero />
    <Projects />
    <Skills />
    <About />
  </main>
</Layout>
