---
import Bento from "@/components/Bento.astro"
import Layout from "@/layouts/Layout.astro"
---
<Layout title="Mis Projectos" description="Mis projectos realizidos con diversas tecnologias">
    <div class="p-20">
        <Bento />
    </div>
    
</Layout>