---
import Github from "@/icons/Github.astro";
---

<footer class="w-full flex flex-col justify-center items-center mt-10 mb-6">
  <p class="text-xl text-zinc-300 flex justify-center items-center gap-2">
    &copy;2024 <span class="text-red-500">SaulDev</span> hecho por Saul Contreras
    <a
      href="https://github.com/VikusS3/SaulDev"
      rel="noopener noreferrer"
      role="link"
      aria-label="Ir al repositorio de Github de Saul Contreras"
    >
      <Github class="w-6 h-6" />
    </a>
  </p>
</footer>
