<section class="w-full flex flex-col justify-center items-center">
  <div class="flex justify-center items-center gap-3">
    <img
      class="w-24 h-auto border-4 p-1 border-red-700 rounded-full"
      src="/SAUL.webp"
      alt="Imagen de SaulDev en forma circular"
    />
    <div>
      <h1 class="text-3xl font-bold">Saul Contreras</h1>
      <span class="text-xl mt-2 text-primary">@saul_dev21</span>
    </div>
  </div>
  <div class="w-full flex justify-between items-center mt-6 flex-special">
    <p class="text-lg text-center">
      Lima, <span class="text-primary font-semibold">Perú</span>
    </p>
    <p class="text-lg text-center">
      +6 <span class="text-primary font-semibold">aplicaciones creadas</span>
    </p>
    <p class="text-lg text-center">
      +2 <span class="text-primary font-semibold">proyectos personales</span>
    </p>
  </div>
  <div class="w-full text-pretty mt-8">
    <p class="text-xl text-zinc-200">
      Dessarrollador Frontend con experiencia en el desarrollo de aplicaciones
      web y móviles. Conocimientos en tecnologías como React, Astro,
      TailwindCSS, entre otros. Apasionado por la música y la tecnología.
    </p>
  </div>
</section>

<style>
  @media screen and (max-width: 395px) {
    .flex-special {
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
