---
import Bento from "@/components/Bento.astro";
---

<section class="w-full flex flex-col mt-10">
  <h2 class="mb-2 text-3xl text-zinc-200">Creadores de contenido</h2>
  <p class="text-xl text-pretty text-zinc-300">
    En mi camino de aprendizaje, he encontrado a personas que me han ayudado a
    crecer y a aprender, aquí te dejo una lista de creadores de contenido que me
    han ayudado a crecer y a aprender.
  </p>
  <Bento />
</section>
